body {
    background-color: #171717;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 30px;
}

.container {
    background-color: #292929;
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
}

h1 {
    color: #ff6b00;
    font-size: 50px;
}

h2 {
    color: #ff9d42;
    font-size: 24px;
}

img {
    width: 300px;
    margin: 20px;
    border-radius: 15px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

button {
    background-color: #ff6b00;
    color: white;
    font-size: 18px;
    padding: 12px 25px;
    margin: 20px;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: #ff9d42;
    cursor: pointer;
}
